* {
    box-sizing: border-box;
}

h1 {
    color:rgb(0, 97, 8);
}

body {
    background-color: black;
    display: flex;
    align-items: center;
}

.quote {
    color: white;
}

.author {
    color: gray;
    font-style: italic;
}